<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>

</head>

<body data-ng-app="registerApp">
	<form role="form" data-ng-submit="submit()" action="" data-ng-controller="RegisterController">
		<div class="container">

			<div class="row">
				<div
					class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

					<h2>
						Please Sign Up <small>It's free and always will be.</small>
					</h2>
					<hr class="colorgraph">

					<div class="form-group">
						<input type="text" name="username" class="form-control input-lg"
							placeholder="username" data-ng-model="username">
					</div>

					<div class="form-group">
						<input type="password" name="password"
							class="form-control input-lg" placeholder="password"
							data-ng-model="password">
					</div>
					<div class="form-group">
						<input type="text" name="mobile" class="form-control input-lg"
							placeholder="mobile" data-ng-model="mobile">
					</div>
					<div class="form-group">
						<input type="date" name="dob" class="form-control input-lg"
							placeholder="dob" data-ng-model="dob">
					</div>
					<div class="form-group">
						<input type="text" name="mail" class="form-control input-lg"
							placeholder="mail" data-ng-model="mail">
					</div>
					<div class="form-group">
						<input type="text" name="address" class="form-control input-lg"
							placeholder="address" data-ng-model="address">
					</div>
					<div class="form-group">
						Gender<input type="radio" data-ng-model="gender" value="male">Male
						<input type="radio" data-ng-model="gender" value="female">female

					</div>
					<div class="form-group">
						Role<input type="radio" data-ng-model="role" value="Alumni">Alumni
						<input type="radio" data-ng-model="role" value="Student">Student
						<input type="radio" data-ng-model="role" value="Mentor">Mentor
					</div>
					
					<button type="submit">Click Register</button>
				</div>

			</div>
		</div>
	</form> 

	 <!--  <body data-ng-app="registerApp">
	<form role="form" data-ng-submit="submit()" action=""
		data-ng-controller="RegisterController">
		username: <input type="text" data-ng-model="username"> <br>
		E-Mail: <input type="email" data-ng-model="mail"> <br>
		Password:<input type="text" data-ng-model="password"> Mobile:<input
			type="number" data-ng-model="mobile"> Date of Birth:<input
			type="date" data-ng-model="dob"> Role:<input type="text"
			data-ng-model="role"> Address:
		<textarea draggable="false" rows="13" data-ng-model="address"></textarea>
		Gender<input type="radio" data-ng-model="gender" value="male">Male
		<input type="radio" data-ng-model="gender" value="female">female
		<button type="submit">Save Blog</button>
	</form> -->
		 

	<script src="js/RegisterController.js"></script>
</body>
</html>

